# Dependencies
node_modules/

# Environment Variables & Secrets
.env
.env.*
api/.env
!api/.env.example
*.csv

# Local data storage
**/storage/*.json
!**/storage/.gitkeep

# Local build logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Temporary / archive files
*.zip
.DS_Store
Thumbs.db
scratch/
